body {
  background-image: url(./YE6OJA.gif);
  background-size: 99px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
}

#timer {
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 2px 2px white;
  color: white;
  width: 600px;
  text-align: center;
  margin: 40px auto;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  background-color: red;
  color: white;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 4rem;
  margin: 1rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

button:hover {
  background-color:white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.back-kye {
  height: 10px;
  width: 10px;
  border: solid black;
}

.back-key {
  width: 121px;
  height: 25px;
  border: solid white 1px;
  color: white;
  padding: 10px;
  position: absolute;
  top: 86vh;
  left: 44vw;
  background-color: #67676766;
  font-family: "Protest Guerrilla", sans-serif;
  font-style: normal;
  text-align: center;
  border-radius:28px ;
}

.back-key:active{

  background-color: white;
  color: black;

}

#icon{
  position: absolute;
  top: 9px;
  left: 4px;
  font-size: 25px;
}


h4{
  position: absolute;
  top: -13px;
  right: 6px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}






@media (max-width: 800px) {
  #timer {
    font-size: 4rem;
    width: 350px;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}